<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Coffee_And_Inventory.Properties.Settings.coffee_and_inventoryConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=123456;persistsecurityinfo=True;database=coffee_and_inventory"
            providerName="MySql.Data.MySqlClient" />
        <add name="Coffee_And_Inventory.Properties.Settings.cacConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=123456;persistsecurityinfo=True;database=cac"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>